#platformer-roguelike {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
}
#project-euler {
	grid-row: 1 / span 2;
	grid-column: 3 / span 1;
}
#math-editor {
	grid-row: 3 / span 1;
	grid-column: 2 / span 2;
}
#random-survival-game {
	grid-row: 4 / span 1;
	grid-column: 1 / span 2;
}
#stick-dungeon {
	grid-row: 4 / span 2;
	grid-column: 3 / span 1;
}
#hypocube-translocation {
	grid-row: 5 / span 2;
	grid-column: 1 / span 2;
}
#raycaster {
	grid-row: 6 / span 1;
	grid-column: 3 / span 1;
}
