@media only screen and (orientation: portrait) {
	section {
		width: 90vw;
		height: 90vw;

		grid-template-rows: repeat(6, calc(30vw - 10px));
		grid-template-columns: repeat(3, calc(30vw - 10px));
	}
}
@media only screen and (orientation: landscape) {
	section {
		width: 90vh;
		height: 90vh;

		grid-template-rows: repeat(6, calc(30vh - 10px));
		grid-template-columns: repeat(3, calc(30vh - 10px));
	}
}

#platformer-roguelike {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
}
#platformer-roguelike .background-image {
	background-image: url(images/PlatformerRoguelike.png);
}

#project-euler {
	grid-row: 1 / span 2;
	grid-column: 3 / span 1;
}
#project-euler .background-image {
	background-image: url(images/ProjectEuler.png);
}

#physics-simulation {
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
}
#physics-simulation .background-image {
	background-image: url(images/PhysicsSimulation.PNG);
}

#math-editor {
	grid-row: 3 / span 1;
	grid-column: 2 / span 2;
}
#math-editor .background-image {
	background-image: url(images/MathEditor.PNG);
}

#random-survival-game {
	grid-row: 4 / span 1;
	grid-column: 1 / span 2;
}
#random-survival-game .background-image {
	background-image: url(images/RandomSurvivalGame-horizontal.png);
}

#stick-dungeon {
	grid-row: 4 / span 2;
	grid-column: 3 / span 1;
}
#stick-dungeon .background-image {
	background-image: url(images/StickDungeon-vertical.png);
}

#hypocube-translocation {
	grid-row: 5 / span 2;
	grid-column: 1 / span 2;
}
#hypocube-translocation .background-image {
	background-image: url(images/HypocubeTranslocation.png);
}
#raycaster {
	grid-row: 6 / span 1;
	grid-column: 3 / span 1;
}
#raycaster .background-image {
	background-image: url(images/Raycaster.png);
}
