html {
	/*
	This code prevents the user from selecting any text in the webpage, to make the webpage look nicer.
	*/
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Old versions of Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Chrome, Edge, Opera, Firefox */
}

body, html {
	background-color: rgb(200, 200, 200);
	height: 100%;
	display: grid;
	overflow: hidden;
}
section {
	background-color: rgb(20, 20, 40);
	border-radius: 10px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
}

@media only screen and (orientation: portrait) {
	section {
		width: 75vw;
		height: 75vw;
	}
}
@media only screen and (orientation: landscape) {
	section {
		width: 75vh;
		height: 75vh;
	}
}

#random-survival-game {
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
}
#stick-dungeon {
	grid-row: 1 / span 2;
	grid-column: 3 / span 1;
}
#hypocube-translocation {
	grid-row: 2 / span 2;
	grid-column: 1 / span 2;
}
#raycaster {
	grid-row: 3 / span 1;
	grid-column: 3 / span 1;
}
.project-link {
	position: relative;
}
.project-text {
	color: white;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	font-family: Oxygen;
}

section img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	vertical-align: top;
	cursor: pointer;
}

img, .project-text {
	transition-duration: 0.3s;
	transition-property: all;
}

.project-description-title {
	font-size: 20px;
	font-weight: bold;
}
.project-text {
	margin-left: 15px;
	margin-right: 10px;
}

